Downloads
Schreibtisch
.dbus
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.gtkrc-2.0
.gtkrc-xfce
.linuxmint/
.local/
.mozilla/
.profile
.ssh/
.sudo_as_admin_successful
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.xscreensaver
.xsession-errors
.xsession-errors.old
**/*.swp
.gnupg
